<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#DB0000"/>

  <link rel="icon" href="./iconfind.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Find Nyumm Apps</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  <header class="app-bar">
    <div class="app-bar__menu">
      <a id="menu" class="headermenu" href="#">☰</a>
    </div>

    <div class="app-bar__brand">
      <a class="brand_name" href="#">Find</a>
      <a class="brand_name2" href="#">NYUM!</a>
    </div>

    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/josephine-ferdinanda-purba-ts-2b921a150/">About Us</a></li>
      </ul>
    </nav>
  </header>

  <div class="hero">
    <div class="hero_inner">
      <h1 class="hero_title">Restaurant Apps Find Nyum</h1>
      <p class="hero_tagline">Cari referensi restoran dari makanan favoritmu</p>
    </div>
  </div>

    <main tabindex="0" id="maincontent">
      <h1>WELCOME TO FIND NYUM!</h1>
  </main>

  <footer>
    <div>
      <p> &copy Josephine Ferdinanda Purba TS</p>
      <p> Semoga Informasi Bermanfaat!</p>
  </div>
  </footer>
</body>
</html>
